@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Gilda+Display');
@import "./base.css";
@import "./variables.css";
@import "./global.css";
@import "./highlight.css";

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
